/* 記事タイトル */
.entry-title {
    font-family: 'Open Sans','Noto Sans',sans-serif;
    font-size: 28px;
    letter-spacing:0.1em;
}
/* 記事フォント */
.entry-content {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
}
/* 大見出し */
h3 {
  font-family: 'Montserrat', sans-serif;
  border-left: 6px solid #CC543A;
  padding: 0.5em;
}
/* 中見出し */
h4 {
  font-family: 'Montserrat', sans-serif;
  border-top: 2px solid #4c4c4c;
  border-bottom: 2px solid #4c4c4c;
  padding: 0.5em;
}
/* 小見出し */
h5 {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2.5px solid #a5a5a5;
  padding: 0.5em;
}
