/* 記事タイトルフォント */
.entry-title {
    font-size: 25px;
    letter-spacing:1.4px;
    text-align: left;
}
/* スマホ設定記事の縁など */
@media screen and (max-width: 480px){
.entry-title {
    font-size: 20px;
}
#content-inner, .breadcrumb-inner {
    padding: 0 0 !important;
}
div#top-box {
    background: #f5f5f5;
}
header.entry-header {
    padding: 0 10px;
}
.entry-content {
    padding: 0 15px;
}
p.entry-footer-section {
    padding: 0 15px;
}
.hatena-star-container {
    padding: 0 15px;
}
.facebook-good {
    padding: 0 15px;
}
.comment a.leave-comment-title {
    border: 0px;
    margin-right: 15px;
    background-color: #f5f5f5;
}
.pager.pager-permalink.permalink {
    background: #f5f5f5;
    padding: 0 15px 36px 15px;
    margin-bottom: 0px;
}
.entry, .page-archive .archive-entry {
    border-bottom: 0px !important;
}
aside#box2 {
    padding: 0 15px;
}
}
/* 記事内フォント */
body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Verdana, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
/* 大見出しデザイン */
h3 {
  border-left: 8.5px solid var(--main-accent-color);
  padding: 0.5em;
}
/* 中見出しデザイン */
h4 {
  background: #ececec;
  border-radius: 5px;
  padding: 20px 20px;
  font-weight: 700;
}
/* 小見出しデザイン */
h5 {
  border-bottom: 2.5px solid #a5a5a5;
  padding: 0.5em;
  margin-bottom: 1.2em;
  height: 27px;
}
/* 邪魔なキーワード下線を消す */
a.keyword {
    border: 0 !important;
    text-decoration: none !important;
    pointer-events: none !important;
    cursor: default;
    color: #5A5A5A;
}
/* 日付アイコン付き */
.date::before {
	font-family: "blogicon";
	content: "\f043";
	margin-right: 2px;
	}
/*カテゴリーちゃんと表示*/
.categories a{
    display: inline-block;
    float: none;
    margin-right: 0;
}
/*記事幅*/
#blog-title-inner,
#content-inner,
#footer-inner,
.breadcrumb {
    max-width: 767px; /* for Smartphone and Tablet */
}

@media screen and (min-width: 960px) {
    #blog-title-inner,
    #content-inner,
    #footer-inner,
    .breadcrumb {
        max-width: 1164px; /* for PC */
    }
}
/*パンくず*/
#top-box {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#top-box {
    background: var(--base-color);
    overflow: inherit;
    white-space: nowrap;
}
@media screen and (max-width: 480px){
  div#top-box {
      overflow: scroll;
  }
}
.page-entry .breadcrumb {
    margin-bottom: 0;
    color: var(--main-accent-color);
}
.breadcrumb {
    margin-left: auto;
    margin-right: auto;
}
.breadcrumb-inner {
    text-align: left;
    display: inline-block;
}
@media screen and (min-width: 768px){
.breadcrumb-inner {
    padding-left: 0px;
    padding-right: 0px;
}}

/*線いらない*/
.page-entry #content {
    border-top: 0px !important;
}
#wrapper {
    border-bottom: 0px !important;
}
/*関連記事関係*/
.urllist-with-thumbnails li .urllist-image {
    box-shadow: 2px 4px 5px rgba(0,0,0,0.16);
    width: 100px;
    height: auto;
}
#relateArticle .hatena-module-title{
  font-size:22px;
  border-top: 3px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  line-height: 50px;
  margin-top: 10px;
  padding: 0 10px;
  font-weight:normal;
  color: #000000;
}

#relateArticle ul {
    margin-bottom: 10px;
}
#relateArticle > .hatena-module-title::after {
    position: absolute !important;
    width: 95px !important;
    height: 1px !important;
}
@media screen and (max-width: 768px){
/*関連記事カードデザイン*/
div#relateArticle {
    padding: 0 15px;
}
#relateArticle li {
    padding: 20px 10px;
}
.urllist-with-thumbnails li .urllist-image {
	float: left;
	margin: 0px !important;
}

.urllist-title-link {
    line-height: 1.5;
    display: flex;
    display: -webkit-flex;
}
.urllist-with-thumbnails li {
    border-top: 0px solid !important;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.05);
}

.urllist-item-inner.related-entries-item-inner  {
    display: -webkit-flex;
    display: flex;
}

.urllist-title-link.related-entries-title-link.urllist-title.related-entries-title {
    order:1;
    width: 60%;
    margin: 0 10px 0 20px;
}

.urllist-date-link.related-entries-date-link {
    order:2;
    position: absolute;
	right: 10px;
	bottom: 0px;
}
/*最新記事カードデザイン*/
.urllist-item-inner.recent-entries-item-inner {
    float: left;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    display: -webkit-flex;
}

.urllist-title-link.recent-entries-title-link.urllist-title.recent-entries-title {
    order:1;
    width: 60%;
    margin: 0 10px 0 20px;
}
.urllist-date-link.recent-entries-date-link {
    order:2;
    position: absolute;
	right: 10px;
	bottom: 0px;
}
.urllist-item-inner.entries-access-ranking-item-inner {
    float: left;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    display: -webkit-flex;
}
/*人気記事カードデザイン*/
.urllist-title-link.entries-access-ranking-title-link.urllist-title.entries-access-ranking-title {
    order:1;
    width: 60%;
    margin: 0 10px 0 20px;
}


.urllist-date-link.entries-access-ranking-date-link {
    order:2;
    position: absolute;
	right: 10px;
	bottom: 0px;
}

.urllist-with-thumbnails li {
    padding: 20px 10px;
}
aside#box2 {
    padding: 0 15px;
    background-color: var(--base-color);
}
}
/*フッター*/
#footer .guest-footer .guest-footer-content h3 {
    margin: 1em 0 1em;
    display: inline-block;
    border-left: 0px solid #505050;
    color: #e1e1e1;
    border-bottom: 2px solid #747474;
}
#footer .guest-footer .guest-footer-content {
    background-color: #2d2d2d;
    border-radius: 6px;
}
