:root {
    --bacckground:#2d2d2d;
    --Foreground:#cccccc;
    --Comment:#8a8a80;
    --Red:#f2777a;
    --Orange:#fca369;
    --Yellow:#ffd479;
    --Light-Yellow:#ffeea6;
    --Green:#99cc99;
    --blue:#78aad6;
    --Aqua:#76d4d6;
    --Purple:#d6acd6;
}
pre .str, code .str { color: var(--Green); } 
pre .kwd, code .kwd { color: var(--Light-Yellow); }
pre .com, code .com { color: var(--Comment); } 
pre .typ, code .typ { color: var(--Foreground); } 
pre .lit, code .lit { color: var(--Orange); } 
pre .pun, code .pun { color: var(--Foreground); }   
pre .pln, code .pln { color: var(--Foreground); }    
pre .tag, code .tag { color: var(--blue); } 
pre .atn, code .atn { color: var(--Yellow); } 
pre .atv, code .atv { color: var(--Green); } 
pre .dec, code .dec { color: var(--Purple); } 
pre.prettyprint {
    background: var(--bacckground)!important;
    font-family: 'SourceCodePro-Medium', 'DejaVu Sans Mono', 'Monaco', 'Consolas', 'ＭＳ Ｐゴシック', 'MS PGothic', monospace !important;
    border: 0 !important;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  list-style-type: decimal;
  background-color: var(--bacckground);
  list-style-position: outside;
  margin-left: 36px;
  padding-left: 16px;
  border-left: 1px solid var(--Comment);
}
ol.linenums {
    margin: 0px 0 0em 0em;
    color: var(--Comment);
}
pre, .entry-content pre {
    border: 0px !important;
    background-color: var(--bacckground) !important;
    margin: 1em 0;
    border-radius: 6px;
}
/* variable name */
.var {
    color: var(--Red);
}
/* function name */
.fun {
    color: var(--Aqua);
}
