/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* ========================
//#highlight.jsTheme New Moon
//#Version: 1
//#Author: yassan
//new moonのテーマを使いたかったので作りました。
//======================== */

:root {
    --bacckground:#2d2d2d;
    --text:#fff;
    --Foreground:#cccccc;
    --Comment:#8a8a80;
    --Red:#f2777a;
    --Orange:#fca369;
    --Yellow:#ffd479;
    --Light-Yellow:#ffeea6;
    --Green:#99cc99;
    --blue:#78aad6;
    --Aqua:#76d4d6;
    --Purple:#d6acd6;
    --meta:#000;
    --border:#1d1d1d;
}
.hljs-comment,
.hljs-code {
  color: var(--Comment);
}
.hljs-meta {
    background: var(--meta);
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-class,
.hljs-deletion,
.hljs-section {
  color: var(--Yellow);
}
.hljs-keyword,
.hljs-quote {
    color: var(--Light-Yellow);
}
.hljs-selector-id,
.hljs-literal {
  color: var(--Purple);
}
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-type {
  color: var(--Orange);
}
.hljs-attribute {
  color: var(--Foreground);
}
.css.hljs .hljs-keyword,
.hljs-regexp,
.hljs-symbol,
.hljs-link,
.hljs-addition,
.hljs-string {
  color: var(--Green);
}
.hljs-selector-pseudo,
.hljs-title,
.hljs-params,
.hljs-keyword,
.hljs-section {
    color: var(--Aqua);
}
.hljs-name,
.hljs-tag,
.hljs-selector-tag {
  color: var(--blue);
}
pre .hljs {
  display: block;
  overflow-x: auto;
  background: var(--bacckground) !important;
  color: var(--text) !important;
  padding: 1em !important;
  font-family: 'SourceCodePro-Medium', 'DejaVu Sans Mono', 'Monaco', 'Consolas', 'ＭＳ Ｐゴシック', 'MS PGothic', monospace !important;
  font-size: 14px !important;
  font-weight: 500;
  margin: 0px 0 25px 0 !important;
}
.hljs-bullet,
.hljs-emphasis {
  color: var(--Red);
}
@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}
.hljs-ln-numbers {
    border-bottom: 0px !important;
    padding: 0 !important;
    border-right: 1px solid var(--border);
    color: var(--Comment);
}
.hljs-ln-code {
    border-bottom: 0px !important;
    padding: 0 0px 0 20px !important;
    margin: 10px;
}
.hljs-ln {
    border-top: 0px !important;
    margin: 0;
}
.entry-content pre {
    border: 0px !important;
    line-height: 1.8 !important;
    margin: 0em !important;
    padding: 0em !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
